@page "/Home"
@using Microsoft.AspNetCore.SignalR.Client
@implements RaiseHand.Core.Threading.IRHComponentBase
@using RaiseHand.Core.ViewModels
@inject HomeViewModel ViewModel
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>
<div class="content">
    <div class="container">
        <div class="row" align="center">
            <div class="col-lg-4  ">
            </div>
            <div class="col-lg-4 ">
                <span><MatButton Raised="true" style="justify-content: center; width: 150px; margin: auto;" OnClick="@(() => ViewModel.OnHost())">Host</MatButton></span>
            </div>
            <div class="col-lg-4 ">
            </div>
        </div>
        <br />
        <div class="row" align="center">
            <div class="col-lg-4 ">
            </div>
            <div class="col-lg-4 ">
                <span><MatButton style="justify-content: center; width: 150px; margin: auto;" Raised="true" OnClick="@(() => ViewModel.OnJoin())">Join</MatButton></span>
            </div>
            <div class="col-lg-4 ">
            </div>
        </div>
    </div>
</div>
    @code {
        [CascadingParameter] public IModalService Modal { get; set; }

        protected override void OnInitialized()
        {
            ViewModel.Dispatcher = this;
            ViewModel.OnLoaded();
            base.OnInitialized();
        }

        public void OnStateChanged()
        {
            StateHasChanged();
        }
    }
