@page "/Join/{NavigationIndex:int}"
@using Microsoft.AspNetCore.SignalR.Client
@implements RaiseHand.Core.Threading.IRHComponentBase
@using RaiseHand.Core.ViewModels
@inject JoinViewModel ViewModel
<h3>Join</h3>
<br />
Code
<input @bind-value="ViewModel.HostCode" />
<br />
Name
<input @bind-value="ViewModel.Name" />
<br />
<button @onclick="ViewModel.OnStart">START</button>
<br />
<button @onclick="ViewModel.OnBack">BACK</button>
@code {
    [CascadingParameter] public IModalService Modal { get; set; }
    [Parameter]
    public int NavigationIndex { get; set; }

    protected override void OnInitialized()
    {
        ViewModel.NavigationIndex = NavigationIndex;
        ViewModel.Dispatcher = this;
        ViewModel.OnLoaded();
        base.OnInitialized();
    }

    public void OnStateChanged()
    {
        StateHasChanged();
    }
}
