@page "/Meeting/{NavigationIndex:int}"
@using Microsoft.AspNetCore.SignalR.Client
@implements RaiseHand.Core.Threading.IRHComponentBase
@using RaiseHand.Core.ViewModels
@inject MeetingViewModel ViewModel
<style>
    .button-on {
        background: orange
    }
</style>
<h2 class="mat-h2">Meeting</h2>
<br />
<h3 class="mat-h3">@ViewModel.HostCode</h3>
<br />
    @foreach (var user in ViewModel.UserNames)
    {
        <MatThemeProvider Theme="@GetButtonTheme(user)">
            <MatButton Style="width:120px; padding: 50px 0; " Raised="true" OnClick="() => ViewModel.OnRaiseHand(user)">@user</MatButton>
        </MatThemeProvider>
     }

    <MatButton Style="position: fixed; bottom: 10px; left: 10px; width:120px" Raised="true" OnClick="() => ViewModel.OnLeave()">Leave</MatButton>

@code {
    [CascadingParameter] public IModalService Modal { get; set; }
    [Parameter]
    public int NavigationIndex { get; set; }

    protected override void OnInitialized()
    {
        ViewModel.NavigationIndex = NavigationIndex;
        ViewModel.Dispatcher = this;
        ViewModel.OnLoaded();
        base.OnInitialized();
    }

    public void OnStateChanged()
    {
        StateHasChanged();
    }

    public MatTheme GetButtonTheme(string user)
    {
        MatTheme theme1 = new MatTheme();
        if (ViewModel.RaisedNames.Contains(user))
        {
            theme1.Primary = MatThemeColors.Orange._500.Value;
        }
        else
        {
            theme1.Primary = MatThemeColors.Purple._500.Value;
        }

        return theme1;
    }
}
